.product-table {
  margin: 20px;
  position: relative;
  min-height: 200px;
}

table {
  width: 100%;
}

td,
th {
  width: 33%;
}

td.mat-cell {
  padding: 10px 0;

  &:not(:last-child) {
    padding-right: 25px;
  }
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.description {
  box-sizing: border-box;
  white-space: pre-line;
  word-wrap: break-word;

  p {
    margin: unset;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
  }
}

.picture-url-container {
  display: flex;
  align-items: center;
  max-width: 300px;
  p {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 0 8px;
  }
}

.picture-url-container {
  ::ng-deep .mat-icon-button {
    line-height: 24px;
    width: 24px;
    height: 24px;
  }
  ::ng-deep .mat-icon {
    font-size: 20px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 768px) {
  .picture-url-container {
    max-width: 250px;
  }
}

@media screen and (max-width: 600px) {
  .picture-url-container {
    max-width: 200px;
  }
}

@media screen and (max-width: 520px) {
  .picture-url-container p {
    display: none;
  }

  .picture-url-container button::after {
    content: 'Copy Url ';
    font-weight: 400;
  }
}
