{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 80,
  "arrowParens": "always",
  "htmlWhitespaceSensitivity": "strict",
  "overrides": [
    {
      "files": ["**/*.html"],
      "options": {
        "singleQuote": false
      }
    }
  ]
}
