.product-table {
  margin: 20px;
  min-height: 200px;
  position: relative;
}

table {
  width: 100%;
}

td,
th {
  width: 33%;
}

.break-word {
  word-break: break-all;
}

td.mat-cell {
  padding: 10px 0;

  &:not(:last-child) {
    padding-right: 25px;
  }
}

.loading-shade {
  align-items: center;
  background: rgba(0, 0, 0, 0.15);
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}
