<div [ngSwitch]="searchType" class="search">
  <mat-form-field appearance="outline">
    <mat-label>{{ label }}</mat-label>

    <ng-container *ngSwitchCase="SearchTypes.INPUT">
      <input
        matInput
        type="text"
        [formControl]="searchControl"
        [matAutocomplete]="auto"
      />
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option
          *ngFor="let option of options | searchOptions: searchControl.value"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </ng-container>

    <ng-container *ngSwitchCase="SearchTypes.SELECTOR">
      <mat-select [formControl]="searchControl">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </ng-container>
  </mat-form-field>

  <ng-container *ngIf="SearchTypes.INPUT && !!searchControl.value">
    <button
      class="clear-button"
      mat-icon-button
      (click)="searchControl.setValue('')"
    >
      <mat-icon>refresh</mat-icon>
    </button>
  </ng-container>
</div>
