.mat-mdc-dialog-title {
  text-align: center;
}

.mat-mdc-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.create-product-form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    margin-bottom: 5px;
  }
}

.image-preview {
  margin-bottom: 10px;
}

.product-image {
  height: auto;
  margin: 10px 0;
  width: 100%;
}

.counts-wrapper {
  border: 1px solid lightgray;
  border-radius: 2px;
}

.remove-counts-icon {
  position: relative;
  bottom: 323px;
  left: 423px;
}

.counts-wrapper {
  mat-form-field{
    width: 28vw;
    padding: 8px;
    position: relative;
    left: 5px;
    bottom: -12px;
  }
}