<mat-toolbar>
  <nav class="navbar">
    <a
      mat-button
      routerLink="/products"
      routerLinkActive="navbar-item-selected"
    >
      Products
    </a>
    <a
      mat-button
      routerLink="/dashboard"
      routerLinkActive="navbar-item-selected"
    >
      Dashboard
    </a>
  </nav>
  <button
    *ngIf="displayCreateButton"
    mat-mini-fab
    class="create-product-btn"
    aria-label="create product"
    matTooltip="Create Product"
    (click)="createProductDialog()"
  >
    <mat-icon>create</mat-icon>
  </button>
  <div class="toolbar">
    <tk-search
      (valueChange)="onSearchChange($event)"
      [options]="searchOptions$ | async"
      [searchType]="searchType"
      [search]="search$ | async"
    ></tk-search>
    <tk-lang-selector
      (langChanged)="onLangChange($event)"
      [lang]="lang$ | async"
    ></tk-lang-selector>
  </div>
</mat-toolbar>
