<mat-toolbar>
  <nav class="navbar">
    <a
      mat-button
      routerLink="/products"
      routerLinkActive="navbar-item-selected"
    >
      Products
    </a>
    <a
      mat-button
      routerLink="/dashboard"
      routerLinkActive="navbar-item-selected"
    >
      Dashboard
    </a>
  </nav>
  <div class="toolbar">
    <tk-search
      (valueChange)="store.dispatch(ProductActions.search({ search: $event }))"
      [options]="searchOptions$ | async"
      [searchType]="getSearchType()"
      [search]="search$ | async"
    ></tk-search>
    <tk-lang-selector
      (langChanged)="store.dispatch(LangActions.change({ lang: $event }))"
      [lang]="lang$ | async"
    ></tk-lang-selector>
  </div>
</mat-toolbar>
