<header>
  <nav class="navbar">
    <a
      mat-button
      [routerLink]="['/']"
      [ngClass]="{ 'navbar-item-selected': router.url === '/' }"
      >Home</a
    >
    <a
      mat-button
      [routerLink]="['/products']"
      routerLinkActive="navbar-item-selected"
      >Products</a
    >
    <a
      mat-button
      [routerLink]="['/dashboard']"
      routerLinkActive="navbar-item-selected"
      >Dashboard</a
    >
  </nav>
  <span class="spacer"></span>
  <div class="toolbar">
    <tk-search
      *ngIf="isProductSearchVisible()"
      (valueChange)="store.dispatch(ProductActions.search({ search: $event }))"
      [options]="searchOptions$ | async"
    ></tk-search>
    <tk-lang-selector
      (langChanged)="store.dispatch(LangActions.change({ lang: $event }))"
      [lang]="lang$ | async"
    ></tk-lang-selector>
  </div>
</header>
