mat-toolbar {
  background-color: #3f51b5;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  color: white;
  display: flex;
  justify-content: space-between;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    color: white;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding: unset;
  }

  .create-product-btn {
    margin-right: 0.5rem;
    .mat-icon {
      transform: scale(1.5);
    }
  }
}

.navbar {
  align-self: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  height: fit-content;

  .mat-button.navbar-item-selected {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.875rem;
  gap: 5px;
  justify-content: flex-end;
}

@media (max-width: 686px) {
  mat-toolbar {
    height: 128px;
  }

  .toolbar {
    flex-direction: column-reverse;
    gap: unset;
  }
}
