header {
  background-color: #3f51b5;
  box-shadow: 0 3px 5px -1px rgb(0 0 0 / 20%), 0 6px 10px 0 rgb(0 0 0 / 14%),
    0 1px 18px 0 rgb(0 0 0 / 12%);
  display: flex;
  left: 0;
  padding: 10px 20px;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 2;

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline,
  ::ng-deep .mat-form-field.mat-focused .mat-form-field-label,
  ::ng-deep .mat-form-field-label,
  ::ng-deep .mat-select-value,
  ::ng-deep .mat-select-arrow,
  ::ng-deep .mat-icon,
  ::ng-deep .mat-input-element {
    color: white;
  }

  ::ng-deep .mat-form-field-appearance-outline .mat-form-field-wrapper {
    margin: 0;
  }

  ::ng-deep .mat-form-field-wrapper {
    padding: unset;
  }
}

.navbar {
  align-self: center;
  height: fit-content;

  .mat-button {
    color: white;
  }

  .mat-button.navbar-item-selected {
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.toolbar {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: flex-end;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 705px) {
  .toolbar {
    flex-direction: column-reverse;
  }
}
