.mat-dialog-title {
  text-align: center;
}

.mat-dialog-actions {
  display: flex;
  justify-content: flex-end;
}

.create-product-form {
  display: flex;
  flex-direction: column;

  mat-form-field {
    margin-bottom: 5px;
  }
}

.form-array {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;

  mat-form-field {
    width: 100%;
  }

  &-row {
    display: flex;

    mat-form-field:first-child {
      margin-right: 5px;
    }
  }
}

.add-more-btn {
  align-self: flex-start;
}

.image-preview {
  margin-bottom: 10px;
}

.product-image {
  height: auto;
  margin: 10px 0;
  width: 100%;
}

.flex-row-between {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
