<div class="main">
  <ng-container *ngIf="!(loading$ | async); else loading">
    <div class="main__header">
      <div class="toolbar">
        <tk-search
          [options]="searchOptions$ | async"
          (valueChange)="onSearchChange($event)"
        ></tk-search>

        <tk-lang-selector
          [lang]="lang$ | async"
          (langChanged)="onLangChange($event)"
        ></tk-lang-selector>
      </div>
      <mat-divider></mat-divider>
    </div>

    <div class="product-list">
      <tk-product
        class="product-list__item"
        *ngFor="
          let product of products$ | async | productSearch: (search$ | async)
        "
        [product]="product"
      ></tk-product>
    </div>
  </ng-container>
</div>

<ng-template #loading>
  <div class="loader">
    <mat-spinner></mat-spinner>
  </div>
</ng-template>
