<ng-container *ngIf="!(isGlobalLoading$ | async); else loading">

  <mat-button-toggle-group (change)="onViewModeChange($event)">
    <mat-button-toggle
      *ngFor="let mode of viewModes"
      [value]="mode.mode"
      [checked]="mode.mode === (viewMode$ | async)"
      [aria-label]="mode.label"
    >
      <mat-icon>{{ mode.icon }}</mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>

  <div *tkIfViewMode="'cards'">
    <tk-product-cards
      [loading]="isLoading$ | async"
      [pageIndex]="pageIndex$ | async"
      [totalNumber]="totalNumber$ | async"
      [products]="products$ | async | productSearch: (search$ | async)"
      (pageChange)="onPageChange($event)"
      (productDetails)="showProductDetails($event)"
    >
    </tk-product-cards>
  </div>

  <div *tkIfViewMode="'list'">
    <tk-product-table
      [loading]="isLoading$ | async"
      [pageIndex]="pageIndex$ | async"
      [products]="products$ | async"
      [search]="search$ | async"
      [totalNumber]="totalNumber$ | async"
      (pageChange)="onPageChange($event)"
      (deleteProduct)="showConfirmDeleteDialog($event)"
    ></tk-product-table>
  </div>
</ng-container>

<ng-template #loading>
  <tk-loader></tk-loader>
</ng-template>
