<ng-container *ngIf="!(globalLoading$ | async); else loading">
  <tk-search
    *ngIf="router.url === '/products'"
    (valueChange)="
            store.dispatch(ProductActions.search({ search: $event }))
          "
    [options]="searchOptions$ | async"
  ></tk-search>

  <div class="product-list">
    <tk-product
      *ngFor="
          let product of topProducts$ | async | productSearch: (search$ | async)
        "
      [product]="product"
      (click)="productDetails(product)"
      class="product-list__item"
    ></tk-product>
  </div>

  <div>
    <tk-product-table
      [loading]="loading$ | async"
      [products]="products$ | async"
      [pageIndex]="pageIndex$ | async"
      [totalNumber]="totalNumber$ | async"
      [search]="search$ | async"
      (pageChange)="store.dispatch(ProductActions.changePage({pageIndex: $event}))"
    ></tk-product-table>
  </div>
</ng-container>

<ng-template #loading>
  <tk-loader></tk-loader>
</ng-template>
