<ng-container *ngIf="!(isGlobalLoading$ | async); else loading">
  <div class="product-list">
    <tk-product
      (click)="showProductDetails(product)"
      *ngFor="
        let product of topProducts$ | async | productSearch: (search$ | async)
      "
      [product]="product"
      class="product-list__item"
    ></tk-product>
  </div>

  <div>
    <tk-product-table
      (pageChange)="onPageChange($event)"
      (deleteProduct)="onDeleteProduct($event)"
      (productDetails)="showProductDetails($event)"
      [loading]="isLoading$ | async"
      [pageIndex]="pageIndex$ | async"
      [products]="products$ | async"
      [search]="search$ | async"
      [totalNumber]="totalNumber$ | async"
    ></tk-product-table>
  </div>
</ng-container>

<ng-template #loading>
  <tk-loader></tk-loader>
</ng-template>
