<div class="container">
  <mat-form-field appearance="outline" *ngIf="productQuantityInfo.length > 0">
    <mat-label id="country-label" i18n="Country@@country-selector.label">Country</mat-label>
    <mat-select (selectionChange)="onCountryChange($event.value)" [value]="selectedCountry">
      <mat-option *ngFor="let item of productQuantityInfo" [value]="item">
        <span>{{item?.location}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedCountry" class="details">
    <mat-label id="quantity-avl-label" class="label" i18n="Quantity Available@@quantity-available.label">Quantity
      Available</mat-label>
    <div id="quantity-avl">{{selectedCountry?.quantityAvailable}}</div>
  </div>

  <div *ngIf="selectedCountry" class="details">
    <mat-label id="price-label" class="label" i18n="Price (USD)@@price.label">Price (USD)</mat-label>
    <div id="price">{{selectedCountry?.price}}</div>
  </div>
</div>