<div class="container">
  <mat-form-field *ngIf="productQuantityInfo.length > 0" appearance="outline">
    <mat-label id="country-label" i18n="Country@@country-selector.label">Country</mat-label>
    <mat-select [value]="selectedProductQuantityInfo" (selectionChange)="onCountryChange($event.value)">
      <mat-option *ngFor="let item of productQuantityInfo" [value]="item">
        <span>{{item?.location}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedProductQuantityInfo" class="details">
    <mat-label class="label" i18n="Quantity Available@@quantity-available.label">Quantity
      Available</mat-label>
    <div class="quantity-avl">{{selectedProductQuantityInfo?.quantityAvailable}}</div>
  </div>

  <div *ngIf="selectedProductQuantityInfo" class="details">
    <mat-label class="label" i18n="Price (USD)@@price.label">Price (USD)</mat-label>
    <div class="price">{{selectedProductQuantityInfo?.price}}</div>
  </div>
</div>
