<ng-container *ngIf="!(isLoading$ | async); else loading">
  <h1>Product Info Dashboard</h1>
  <mat-divider></mat-divider>
  <ng-container *ngIf="product$ | async; else productNotSelected">
    <h4>Dogs by Country</h4>
    <div class="flex-row">
      <tk-chart
        [chartConfigs]="pieChartConfigs"
        [chartData]="product$ | async | pieChartProductData"
        [chartType]="ChartType.PIE_CHART"
        (selected)="updateSelectedLocation($event)"
      ></tk-chart>
      <tk-product-table
        [pageIndex]="pageIndex$ | async"
        [totalNumber]="totalNumber$ | async"
        [loading]="isLoading$ | async"
        [products]="selectedAreaProducts$ | async"
        [search]="search$ | async"
        [pageSize]="5"
        (pageChange)="onPageChange($event)"
      ></tk-product-table>
    </div>
    <mat-divider></mat-divider>
    <tk-chart
      [chartConfigs]="barChartConfigs"
      [chartData]="product$ | async | barChartProductData"
      [chartType]="ChartType.BAR_CHART"
    ></tk-chart>
  </ng-container>

  <ng-template #productNotSelected>
    <h3>
      Select the product in the Products Menu to see the availability and price
      charts by location
    </h3>
  </ng-template>
</ng-container>

<ng-template #loading>
  <tk-loader></tk-loader>
</ng-template>
