<ng-container *ngIf="!(loading$ | async); else loading">
  <h1 data-testid="dashboard-title">Product Info Dashboard</h1>
  <mat-divider></mat-divider>
  <ng-container *ngIf="product$ | async; else productNotSelected">
    <tk-chart
      [chartType]="'PieChart'"
      [chartData]="product$ | async | pieChartProductData"
      [chartConfigs]="pieChartConfigs"
    ></tk-chart>
    <mat-divider></mat-divider>
    <tk-chart
      [chartType]="'BarChart'"
      [chartData]="product$ | async | barChartProductData"
      [chartConfigs]="barChartConfigs"
    ></tk-chart>
  </ng-container>

  <ng-template #productNotSelected>
    <h3 data-testid="dashboard-text">
      Select the product in the Products Menu to see the availability and price
      charts by location
    </h3>
  </ng-template>
</ng-container>

<ng-template #loading>
  <tk-loader></tk-loader>
</ng-template>
