<div [ngSwitch]="searchType" class="search">
  <mat-form-field appearance="outline" class="search__input">
    <mat-label i18n="Product search label@@product-search.label">
      Products
    </mat-label>

    <ng-container *ngSwitchCase="'Input'">
      <input
        [formControl]="searchControl"
        [matAutocomplete]="auto"
        aria-label="Products"
        i18n-aria-label="
          Product search input aria-label@@product-search.input.aria-label"
        matInput
        type="text"
      />
      <mat-autocomplete #auto="matAutocomplete" autoActiveFirstOption>
        <mat-option
          *ngFor="let option of options | searchOptions: searchControl.value"
          [value]="option"
        >
          {{ option }}
        </mat-option>
      </mat-autocomplete>
    </ng-container>

    <ng-container *ngSwitchCase="'Selector'">
      <mat-select [formControl]="searchControl" aria-label="Products">
        <mat-option *ngFor="let option of options" [value]="option">
          {{ option }}
        </mat-option>
      </mat-select>
    </ng-container>
  </mat-form-field>

  <ng-container *ngSwitchCase="'Input'"
    ><button
      (click)="searchControl.setValue('')"
      class="search__clear"
      i18n="Clear button text@@product-search.clear-button.text"
      mat-icon-button
    >
      <mat-icon
        aria-hidden="false"
        aria-label="Refresh icon"
        i18n-aria-label="
          Clear button icon aria-label@@product-search.clear-button.icon"
      >
        refresh
      </mat-icon>
    </button>
  </ng-container>
</div>
